<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/56dc3e6550.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>AgendApp - {% block title %}{% endblock %} </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow d-flex flex-row navbar-opciones">
        <div class="container">
            <!-- Image and text -->
            <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo-agenda" width="30" height="30">
            AgendApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarOptions">
                <div class="navbar-nav text-center">
                  <a class="nav-link active" href="{{url_for('index')}}">Inicio <span class="sr-only">(current)</span></a>
                  <a class="nav-link" href="{{url_for('nuevo_contacto')}}">Añadir contacto</a>
                  <a class="nav-link" href="{{url_for('lista_contactos')}}">Ver contactos</a>
                </div>
            </div>
        </div>
    </nav>


    <div id="content">{% block content %}{% endblock %}</div>

    
 

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>